<ion-view view-title="Dashboard">
    <!--
    <ion-header-bar class="bar-dark">
        <h1 class="title">Dashboard</h1>
    </ion-header-bar> -->

    <ion-content>

        <ul class="list">
            <a href="#/tab/dash/devices" class="item item-icon-left item-icon-right item-assertive">
                <i class="icon ion-android-desktop"></i> Gå til enheder
                <!--                     <span class="badge badge-stable">2</span> -->
                <i class="icon ion-chevron-right"></i>
            </a>

            <a href="#/tab/dash/myrented" class="item item-icon-left item-icon-right item-energized">
                <i class="icon ion-pricetags"></i> Se dine udlån
                <!--                     <span class="badge badge-stable">2</span> -->
                <i class="icon ion-chevron-right"></i>
            </a>

            <a href="#/tab/dash/returndevice" class="item item-icon-left item-icon-right item-balanced">
                <i class="icon ion-checkmark"></i> Returner enhed
                <!--                     <span class="badge badge-stable">2</span> -->
                <i class="icon ion-chevron-right"></i>
            </a>

            <a href="#/tab/dash/rentalhistory" class="item item-icon-left item-icon-right item-positive">
                <i class="icon ion-clipboard"></i> Se udlånshistorik
                <!--                     <span class="badge badge-stable">2</span> -->
                <i class="icon ion-chevron-right"></i>
            </a>
        </ul>
        </a>
    </ion-content>
</ion-view>