<ion-view>   
        <ion-content class="padding has-footer">

            <ul class="list">

                <label class="item">
                    Fornavn
                </label>

                <label class="item">
                    Efternavn
                </label>

                <label class="item">
                    Email
                </label>

                <!-- Alternativ metode icon1/icon2 true/false
                <label class="item item-button-right">
                    Password
                    <button id="look-password" class="button" ng-click="liked=!liked"> <i ng-class="{'icon ion-eye-disabled' : !liked, 'icon ion-eye' : liked}"></i> </button>
                </label>
-->

                <label class="item item-button-right">
                    Password
                    <button id="look-password" class="button" ng-click="liked=!liked"> <i ng-class="{'icon ion-eye-disabled' : !liked, 'icon ion-eye' : liked}"></i> </button>
                </label>


                <label class="item item-input item-select">
                    <div class="input-label">
                        Uddannelse
                    </div>
                    <select>
                        <option selected>Datamatiker - Dania Skive</option>
                        <option>Dværgpasser - Mordor</option>
                        <option>Stoner - Narnia</option>
                    </select>
                </label>


                <label class="item">
                    Årgang
                </label>

                <div class="item">
                    <lable> Dit billede </lable>
                    <img class="displayed" height="120" width="120" src="http://placekitten.com/120/120"></img>
                </div>

                <button class="button button-positive button-block">Opdater</button>

            </ul>
            </a>

        </ion-content>
</ion-view>