
   <!-- <ion-header-bar class="bar-dark">
        <button location.href="#/tab/dash" class="button button-clear button-stable icon ion-chevron-left"> Dashboard</button>
        <h1 class="title">Enheder</h1>
    </ion-header-bar> -->
<ion-view view-title="Enheder">
    <ion-content class="padding has-footer">

<ion-list>  
       <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/id/{{product.productId}}">
        <img ng-src="{{product.productImage}}">
        <h2 ng-class="product.productIsAvailable ? 'balanced' : 'assertive'">{{product.productName}}</h2>
        <p>{{product.productDescription}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>   
    </ion-list>
<!--
        <ul class="list">
            <a href="#" class="item item-icon-right item-balanced item-text-top"> Nokia D1
                    <i class="icon ion-chevron-right"></i>
                </a>

            <a href="#" class="item item-assertive item-icon-right"> Nokia D2
                    <i class="icon ion-chevron-right"></i> 
                    <span class="item-note">Retur xx/xx/xxx</span>
                </a>
        </ul>
-->
    </ion-content>
 
</ion-view>
