<!--<body ng-app="starter">

    <ion-pane>
        <ion-header-bar class="bar-dark">
            <button class="button button-clear button-stable icon ion-chevron-left"> Enheder</button>
            <h1 class="title">Nokia D1</h1>
        </ion-header-bar>

        <ion-tabs class="tabs tabs-dark tabs-icon-top">
            <ion-tab icon="ion-help-circled" title="Kontakt administrator"></ion-tab>
            <ion-tab icon="ion-home" title="Dashboard"></ion-tab>
            <ion-tab icon="ion-person" title="Konto"></ion-tab>
        </ion-tabs>
-->

<ion-view view-title="{{product.productName}}">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-body">
                <img src="{{product.productImage}}">
                <h2>{{product.productName}}</h2>
                <p>{{product.productDescription}}</p>

            </div>
            <div class="item item-divider">
                Tilbehør
            </div>
                <div class="item item-body">
                    <p ng-repeat="accessory in product.productAccessoryList">
                         <i class="ion-android-done"></i> {{accessory.accessoryDescription}}
                    </p>
                </div>
                <div class="item item-body">
                    <label>Dato for retur
                        <input type="datetime" placeholder="yyyy-mm-dd" ng-model="loanEndDate">
                    </label>
                </div>
            <div class="item item-divider">
                Betingelser ved lån
            </div>
            <div class="item item-body">
                <p>Produktet skal afleveres i god stand. Udlån af produktet sker på eget ansvar. Spørgsmål så kontakt Niels Østergaard.</p>
            </div>
            <div class="item item-body">
                <ion-checkbox ng-model="item.conditionStatus" ng-show="product.productIsAvailable">Accepter betingelserne</ion-checkbox>
                <h2 ng-show="!product.productIsAvailable" class="center assertive"><i class="ion-android-sad"></i> Produktet er desværre allerede udlånt</h2>
                <button class="button button-block button-positive" ng-click="createNewLoan(product.productId, loanEndDate)" ng-disabled="!item.conditionStatus">
                    Tjek enheden ud!
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--
<ion-view> 
        <ion-content class="padding has-footer">           
            <ul class="list">
                <div class="item item-image item-body item-balanced">
                    <img src="http://placekitten.com/600/400" alt="Item Img"></img>
                    <p>
                        <h2 class="text text-left">Nokia D1 er et ret dårlig kamera med 1 mega Dixel (picture unrelated)</h2>
                        <ul class="list text-left">
                            <li>- 1½ meter kobber og zink kabler</li>
                            <li>- 1,5 volts økologisk kartoffel batteri</li>
                            <li>- Prada taske (kopi lavet i Randers/kina)</li>
                        </ul>
                    </p>
                </div>

                <div class="padding left">
                    <h5><b>Generelle betingelser</b></h5>
                    <p class="italic">Udlån af denne enhed er på eget ansvar. Beskadiges enheden vil du blive faktureret for enhedens værdi
                        på det pågældende tidspunkt. Du skal aflevere enheden senest 24 timer efter udlån.
                    </p>
                    <h5><b>Særlige betingelser</b></h4>
                    <p class="italic">Denne enhed har ingen særlige betingelser.</p>
                </div>

            <div class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                <span class="input-label">Jeg accepterer betingelserne</span>
            </div>
                </ul>
                    <button class="button button-positive button-block">
                    Tjek enheden ud
                </button>
        </ion-content>
  </ion-view>       -->
        <!--
    </ion-pane>
</body> -->