<ion-view>
    <ion-content class="padding has-footer">
        <label class="item item-icon item-input">
            <i class="icon ion-flame"></i>
            <input type="text" placeholder="Indtast din email ">
        </label>
<a href="">Send</a>
    </ion-content>
</ion-view>