<ion-nav-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Kontakt administrator</h1>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input">
            <textarea rows="20%" placeholder="Besked"></textarea>
        </label>

        <button class="button button-positive button-block">Indsend besked</button>
    </ion-content>
</ion-nav-view>