<ion-view hide-nav-bar="true">
    <ion-content class="padding has-footer">
        <div class="list">
            <label class="item item-icon item-input">
                <i class="icon ion-person"></i>
                <input type="text" placeholder="Brugernavn (din mail)">
            </label>

            <label class="item item-icon item-input">
                <i class="icon ion-alert"></i>
                <input type="password" placeholder="Password">
            </label>
        </div>

        <a href="#/tab/dash" ng-class="" class="button button-positive button-block">Login</a>

        <div class="center">
            <a class="nostyle" href="#/opretmedlem">Nyt medlem</a> |
            <a class="nostyle" href="#/forgotten">Glemt password</a>
        </div>

    </ion-content>
</ion-view>