<ion-nav-view>
        <ion-content name="Member">
            <li class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Fornavn">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Efternavn">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Email">
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>

                    <label class="item item-input item-select">
                      <div class="input-label">
                            Uddannelse
                        </div>
                        <select>
                            <option selected>Datamatiker - Dania Skive</option>
                            <option>Dværgpasser - Mordor</option>
                            <option>Stoner - Narnia</option>
                        </select>
                    </label>

                <label class="item item-input">
                    <input type="text" placeholder="Årgang">
                </label>
            </li>

            <button class="button button-positive button-block">Opret medlem</button>
        </ion-content>
</ion-nav-view>