<ion-view>
    <ion-content class="padding has-footer">

        <label class="item item-input item-select">
            <div class="input-label">
                Enhed
            </div>
            <select>
                <option selected></option>
                <option>Nokia D1</option>
                <option>Nokia D2</option>
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Vurdering
            </div>
            <select>
                <option selected></option>
                <option>Positiv</option>
                <option>Neutral</option>
                <option>Negativ</option>
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                Stand
            </div>
            <select>
                <option selected></option>
                <option>Som ny</option>
                <option>lidt slid</option>
                <option>moderat slid</option>
                <option>meget slid</option>
                <option>Ødelagt</option>
            </select>
        </label>

        <label class="item item-input">
            <textarea rows="15%" placeholder="Indskriv eventuel note"></textarea>
        </label>

        <button class="button button-positive button-block">Returner enheden</button>
    </ion-content>
</ion-view>