<!--
        <ion-header-bar class="bar-dark">
            <button class="button button-clear button-stable icon ion-chevron-left"> Dashboard</button>
            <h1 class="title">Udlånshistorik</h1>
        </ion-header-bar>

        <ion-tabs class="tabs tabs-dark tabs-icon-top">
            <ion-tab icon="ion-help-circled" title="Kontakt administrator"></ion-tab>
            <ion-tab icon="ion-home" title="Dashboard"></ion-tab>
            <ion-tab icon="ion-person" title="Konto"></ion-tab>
        </ion-tabs>
-->

<!--
<ion-view>
    <ion-content>
        <ul class="list">
            <a href="#" class="item item-balanced"> Nokia D1
                    <span class="item-note">Returneret xx/xx/xxx</span>
                </a>

            <a href="#" class="item item-assertive"> Nokia D2
                    <span class="item-note">Returneret xx/xx/xxx</span>
                </a>
        </ul>
    </ion-content>
</ion-view>
-->

<ion-view view-title="Dine udlån">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="loan in loans" type="item-text-wrap" >
        <h2>{{loan.productName}}</h2>
        <p>{{loan.loanReturnDate}}</p>
        <i class="icon ion-code-working"></i>
        <ion-option-button class="button-assertive" ng-click="returnProduct(loan.productId, loan.loanId)">
            Returner enhed
        </ion-option-button>
      </ion-item>
      
    </ion-list>
    <h3 class="balanced padding text-center"><i class="icon ion-happy" ng-hide="!loanEmptyMessage"></i><br> {{loanEmptyMessage}}</h3>
  </ion-content>
</ion-view>
