<ion-view name="splash" hide-nav-bar="true">
    <ion-content class="splash">
        <p class="splashSpace"> </p>
        <h1 class="splashScreenTextH1">TjekUdAPp</h1>
        <h2 class="splashScreenTextH2">Erhvervsakademiets bedste TjekUd app</h2>
        <a href="#/login"><img class="img centerPictureRelativeSize" src="http://placekitten.com/1200/800"></img>
        </a>
        </img>
        </a>
    </ion-content>
</ion-view>
