<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
  
<ion-tabs class="tabs-dark tabs-icon-top">
    
    <ion-tab title="Kontakt administrator" icon="ion-help-circled" href="#/tab/contactadmin">
     <ion-nav-view name="tab-contactadmin"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Dashboard" icon="ion-home" href="#/tab/dash/">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Konto" icon="ion-person" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
