<!--<body ng-app="starter">

    <ion-pane>
        <ion-header-bar class="bar-dark">
            <button class="button button-clear button-stable icon ion-chevron-left"> Dashboard</button>
            <h1 class="title">Udlånshistorik</h1>
        </ion-header-bar>

        <ion-tabs class="tabs tabs-dark tabs-icon-top">
            <ion-tab icon="ion-help-circled" title="Kontakt administrator"></ion-tab>
            <ion-tab icon="ion-home" title="Dashboard"></ion-tab>
            <ion-tab icon="ion-person" title="Konto"></ion-tab>
        </ion-tabs>
-->
<ion-view>
    <ion-content>
        <ul class="list">
            <a href="#" class="item item-balanced"> Nokia D1
                     <span class="item-note">Returneret xx/xx/xxx</span>
                </a>

            <a href="#" class="item item-assertive"> Nokia D3
                     <span class="item-note">Returneres xx/xx/xxx</span>
                </a>
        </ul>
    </ion-content>
</ion-view>