/* Empty. Add your own CSS if you like */

   IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

    A.nostyle {
    text-decoration: none; 
    color: black; }
    
    .center {
    margin: auto;
    width: 45%;
    }
    
    .centerPictureRelativeSize {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 20%;
    height: 20%;
    }
    
    .splashScreenTextH1 {
        height: 20px;
        text-align: center;
        font-size: x-large;
    }
     
    .splashScreenTextH2 {
        text-align: center;
        font-size: large;
    }
    
    .splashSpace {
        height: 90px;
    }
    
    .splash {
       background: url('http://placehold.it/800x1000') no-repeat center;
       width: 100%;
       height: 100%;
    }
    
    p.italic {
    font-style: oblique;
    }
    
    @media only screen and (max-width: 480px) {
        
    .center {
    margin: auto;
    width: 70%;
    }
    
    }
    

